
<div class="mx-auto container relative px-6 py-7 xl:px-0">
       <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 items-center pb-40">
       <div class="xl:mt-8">
       <button class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 hover:opacity-90 flex items-center relative justify-center mt-5 lg:mt-10 text-sm lg:text-base font-medium text-indigo-600 p-2 lg:p-2 bg-indigo-100 rounded-md">
              <%= link_to("All Courses", courses_path) %>
              <svg class="ml-5" xmlns="http://www.w3.org/2000/svg" width="26" height="17" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
              </svg>
       </button>
       <div class="text-3xl lg:text-6xl xl:text-8xl text-gray-800 tracking-1px font-extrabold">
              <h1 class="lg:text-7xl leading-tight mt-3 lg:mt-4">Experience Life from home</h1>
       </div>
       <h2 class="text-base lg:text-lg tracking-wide leading-9 lg:w-10/12 mt-2 lg:mt-6 text-gray-700">The best experiences, without leaving your home. VR provides everything you need to stay sane and safe during the pandemic</h2>
       <div class="my-2">
              <button class="focus:ring-indigo-700 focus:ring-2 focus:ring-offset-2 focus:outline-none mt-5 lg:mt-10 bg-indigo-700 text-base leading-none text-white hover:bg-indigo-600 p-4 rounded">Take me home</button>
       </div>
       </div>
       <div class="w-full custom-height mt-8 lg:mt-0 rounded-3xl relative">
       <img src="https://i.ibb.co/dLsYS9C/Group-1.png" alt="Collage of images" role="img" />
       </div>
       </div>
</div>
      
      
    